.header-cover {
    height: var(--header-cover-height-normal);
    width: 100%;
    margin-bottom: var(--spacing-normal);
    font-size: 1rem;
}

@media (--viewport-small-screen) {
    .header-cover. .header-title {
        height: var(--header-cover-height-small);
    }
}

.header-cover .header-nav {
    position: relative;
    height: calc(0.33 * var(--header-cover-height-normal));
}

.header-cover .header-nav ul {
    margin-left: 0;
}

.header-cover .header-nav ul li {
    padding-right: var(--spacing-normal);
}

.header-cover .header-nav ul li a,
.header-cover .header-nav ul li a.site-name h1 {
    color: var(--header-cover-font-color);
    opacity: 0.9;
    font-weight: 500;
    font-size: 1.1rem;
    transition: opacity 0.3s;
}

.header-cover .header-nav ul li a:active,
.header-cover .header-nav ul li a:hover,
.header-cover .header-nav ul li a:focus {
    opacity: 1;
}

.header-cover .header-title {
    text-align: center;
    color: var(--header-cover-font-color);
}

.header-cover .header-title a,
.header-cover .header-title a:hover,
.header-cover .header-title a:focus {
    color: var(--header-cover-font-color-hover);
}

.header-cover .header-title .title-sitename {
    font-weight: 500;
    font-size: calc(1.25 * var(--base-h1-font-size));
}
