.tag {
    display: inline-block;
    background-color: var(--tag-background-color);
    border-radius: var(--tag-border-radius);
    text-decoration: none;
    padding: 0.1rem 0.3rem;
    font-size: 0.9rem;
    color: var(--tag-font-color);
}

a.tag,
a.tag:active,
a.tag:focus,
a.tag:hover {
    color: var(--tag-font-color) !important;
    text-decoration: none !important;
}
