
    {{ with .Site.Params.author }}
    <div class="writerinfo">
      <div class="row">
        <div class="info-icon">
          <a href="{{ .url }}"><img src="{{ .imageurl }}"></a>
        </div>
        <div class="info-body">
          <p class="name" rel="author">{{ .name }}</p>
          <p class="profile">{{ .bio }}</p>
        </div>
      </div>
    </div>
    {{ end }}

    <footer>
      <div class="row">
        <small class="copyright medium-8 columns">{{ .Site.Copyright }}</small>
        <ul class="sociallinks medium-4 columns">
          <li>
            <a href="https://twitter.com/yucchiy_" target="_blank">
              <i class="fa fa-twitter-square"></i>
            </a>
          </li>
          <li>
            <a href="https://github.com/yucchiy" target="_blank">
              <i class="fa fa-github-square"></i>
            </a>
          </li>
          <li>
            <a href="https://www.facebook.com/yucchiy" target="_blank">
              <i class="fa fa-facebook-square"></i>
            </a>
          </li>
        </ul>
      </div>
    </footer>

    {{ with .Site.Params.google_analytics }}
      {{ partial "google-analytics.html" . }}
    {{ end }}

    <script src="/js/vendor/jquery.js"></script>
    <script src="/js/vendor/fastclick.js"></script>
    <script src="/js/foundation.min.js"></script>

    <div id="fb-root"></div>
      <script>(function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/ja_JP/sdk.js#xfbml=1&version=v2.3&appId=1389265911327671";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));</script>
  </body>
</html>
