<!doctype html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{{ .Title }} | {{ .Site.Title }} </title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="/apple-touch-icon.png">
    <link rel="shortcut icon" href="/favicon.png">
    <link href="{{ .RSSlink }}" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" />

    <link rel="stylesheet" href="/css/foundation.min.css">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/application.css">

    <base href="{{ .Site.BaseUrl }}">
    <link rel="canonical" href="{{ .Permalink }}">

    <meta content="Yucchiy's blog" property="og:site_name" />
    <meta content="article" property="og:type" />
    <meta content="{{ .Permalink }}" property="og:url">
    <meta content="{{ .Title }} | {{ .Site.Title }}" property="og:title" />
    {{ with .Description }}
    <meta content="{{ . }}" name="description"/>
    <meta content="{{ . }}" property="og:description" />
    {{ end }}
    <meta content="{{ .Date.Format "20060102T150405" }}" property="og:published_at" />
    <script src="/js/vendor/modernizr.js"></script>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  </head>

  <body>
    <!--[if lt IE 8]>
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <header>
      <div class="row">
        <div class="medium12 columns">
          <h1 class="title">
            <a href="{{ .Site.BaseUrl }}">{{ .Site.Title }}</a>
          </h1>
          {{ with .Site.Params.description }}
          <p class="description">{{ . }}</p>
          {{ end }}
        </div>
      </div>
    </header>
