<header class="header-cover">
  <div class="container">
    <div class="header-nav">
      <nav class="main left">
        <ul class="list list-inline">
          <li>
            <a class="site-name" href="{{ .Site.BaseURL }}">
              <h1>{{ .Site.Title }}</h1>
            </a>
          </li>
        </ul>
      </nav>
      <nav class="sub right">
        <ul class="list list-inline">
          {{ with .Site.Params.github }}
          <li><a href="https://github.com/{{ .screen_name }}" target="_blank">Sources</a></li>
          {{ end }}

          <li><a href="/index.xml"><i class="fa fa-rss"></i></a></li>
        </ul>
      </nav>
    </div>
  </div>
</header>
